## Problem 1 - Basic statistics of the data (5 points)

In this problem your task is to open and explore the NOAA weather data using Pandas. The data file name is [6153237444115dat.csv](6153237444115dat.csv). Please answer the given tasks write your code into the codeblocks below.

- **import Pandas module** (1 points)
- **read the data** using pandas into a variable called **`data`** (1.5 points)

**Important**: When reading the data, you need to tell Pandas that no-data values are specified with varying number of \* characters. You can do this by specifying a following parameter in the `read_csv()` -function: 
  
  `na_values=['*', '**', '***', '****', '*****', '******']`

In [67]:
# YOUR CODE HERE
# raise NotImplementedError()

# import module require
import pandas as pd 

df = pd.read_csv(r"C:\Users\Gustavocolmenares\Documents\SchoolStaff\GIS_PCC\Courses_Training\Geo_python_Course\Exercise-5\Pandas\6153237444115dat.csv")
df.head()

,USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,...,SLP,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD
0,28450,99999,201705010000,174,10,14,***,***,*,*,...,1009.2,*****,984.1,***,***,*****,*****,*****,*****,35
1,28450,99999,201705010020,180,10,***,4,***,*,*,...,******,29.74,******,***,***,*****,*****,*****,*****,**
2,28450,99999,201705010050,190,10,***,4,***,*,*,...,******,29.74,******,***,***,*****,*****,*****,*****,**
3,28450,99999,201705010100,188,12,16,***,***,*,*,...,1009.1,*****,984.0,***,***,*****,*****,*****,*****,35
4,28450,99999,201705010120,200,13,***,2,OBS,*,*,...,******,29.74,******,***,***,*****,*****,*****,*****,**

In the codeblock below, print answers to these questions:
- How many rows is there in the data?
- What are the column names?
- What are the datatypes of the columns?

In [ ]:
# Print number of rows in the dataframe:

# Print column names:

# Print column datatypes:

In [68]:
row, column = df.shape
print(row, 'rows')
print(column, 'columns')
print(df.columns)
print(df.dtypes)

11694 rows
33 columns
Index(['USAF', 'WBAN', 'YR--MODAHRMN', 'DIR', 'SPD', 'GUS', 'CLG', 'SKC', 'L',
       'M', 'H', 'VSB', 'MW', 'MW.1', 'MW.2', 'MW.3', 'AW', 'AW.1', 'AW.2',
       'AW.3', 'W', 'TEMP', 'DEWP', 'SLP', 'ALT', 'STP', 'MAX', 'MIN', 'PCP01',
       'PCP06', 'PCP24', 'PCPXX', 'SD'],
      dtype='object')
USAF             int64
WBAN             int64
YR--MODAHRMN     int64
DIR             object
SPD             object
GUS             object
CLG             object
SKC             object
L               object
M               object
H               object
VSB             object
MW              object
MW.1            object
MW.2            object
MW.3            object
AW              object
AW.1            object
AW.2            object
AW.3            object
W               object
TEMP            object
DEWP            object
SLP             object
ALT             object
STP             object
MAX             object
MIN             object
PCP01           object
PCP06           object
PCP24           object
PCPXX           object
SD              object
dtype: object

**Explore basic statistics in the data** (1.5 points)
- What is the mean Fahrenheit temperature in the data? (`TEMP` column)
- What is the standard deviation of the Maximum temperature? (`MAX` column)
- How many unique stations exists in the data? (`USAF` column)

Please use the suggested variable names to store the results

In [70]:
# YOUR CODE HERE
# raise NotImplementedError()

# Calculate mean temperature
df["TEMP"] = df["TEMP"].replace('\*', '0', regex=True).astype(int) # replace string value for zero
# tempNoZeros = df.loc[df['TEMP']> 0]
temp_mean = df["TEMP"].mean()

# Calculate standard deviaton of the maximum temperature:
df['MAX'] = df['MAX'].replace('***', 0) # replace string value for zero
df["MAX"] = pd.to_numeric(df["MAX"]) # change data type from string to numeric 
# maxNoZeros = df.loc[df['MAX']> 0]
temp_max_std = df["MAX"].std()

#Calculate number of unique stations:
station_count = df.USAF.count()

# df.describe()

Once you have defined the variables above, you can print the answers using these print statements (you don't need to change anything in the code block below!)

In [72]:
print("Mean temperature in Fahrenheit is ", round(temp_mean,1))
print("Sandard deviation of maximum temperature is ", round(temp_max_std, 1))
print("The number of unique stations is ", station_count)

Mean temperature in Fahrenheit is  52.2
Sandard deviation of maximum temperature is  11.9
The number of unique stations is  11694

**Finalize your answer to problem 1** (1 point)
- Check that your code includes informative comments explaining what your code does
- Commit and push your changes to your GitHub repository for Exercise 5
- Did you have any problems at this stage?

YOUR ANSWER HERE

Now you can continue to [Problem 2: Data manipulation and subsetting](Exercise-5-problem2.ipynb)