# <font color="purple"><h3 align="center">Different Ways Of Creating Dataframe</h3></font>



topics:
1. Usiing csv
2. Using Excel
3. From Python dictionary
4. From list of typles
5. From list of dictionaries

## <font color="green">Using csv</h3></font>

In [5]:
# import module pandas
import pandas as pd
# read csv file
df = pd.read_csv(r'C:\Users\Gustavocolmenares\Documents\SchoolStaff\GIS_PCC\Courses_Training\Geo_python_Course\py\pandas\3_different_ways_of_creating_dataframe\weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

## <font color="green">Using Excel file</h3></font>

In [13]:


# Create a dataframe from a Excel file 
# use .read_excel('<file_path_&_file_name.xlsx>', '<sheet_name>')

df = pd.read_excel(r'C:\Users\Gustavocolmenares\Documents\SchoolStaff\GIS_PCC\Courses_Training\Geo_python_Course\py\pandas\3_different_ways_of_creating_dataframe\weather_data.xlsx','Sheet1')
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

## <font color="geen">Using Python Dictionary</h3></font>

In [29]:
import pandas as pd

weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'windspeed': [6,7,2],
    'event': ['Rain', 'Sunny', 'Snow']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

## <font color="green">Using Tuple List</h3></font>

In [28]:
weather_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]
df = pd.DataFrame(weather_data, columns = ['day', 'temp', 'windspeed', 'event'])
df

        day  temp  windspeed  event
0  1/1/2017    32          6   Rain
1  1/2/2017    35          7  Sunny
2  1/3/2017    28          2   Snow

## <font color="green">Using List of Dictionaries</h3></font>

In [27]:
weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
]

df = pd.DataFrame(weather_data)
df

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2

## for more information or samples please go to https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#