## Problem 3 - Data analysis (5 points)

In this problem the aim is to understand the differences between temperatures in Helsinki Kumpula and Rovaniemi. First, you need to import the csv files generated in the previous problem for `kumpula` and `rovaniemi`.

In [1]:
# YOUR CODE HERE
# raise NotImplementedError()

# import module require
import pandas as pd 

df = pd.read_csv(r"C:\Users\Gustavocolmenares\Documents\SchoolStaff\GIS_PCC\Courses_Training\Geo_python_Course\Exercise-5\Pandas\6153237444115dat.csv")
df.head()

,USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,...,SLP,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD
0,28450,99999,201705010000,174,10,14,***,***,*,*,...,1009.2,*****,984.1,***,***,*****,*****,*****,*****,35
1,28450,99999,201705010020,180,10,***,4,***,*,*,...,******,29.74,******,***,***,*****,*****,*****,*****,**
2,28450,99999,201705010050,190,10,***,4,***,*,*,...,******,29.74,******,***,***,*****,*****,*****,*****,**
3,28450,99999,201705010100,188,12,16,***,***,*,*,...,1009.1,*****,984.0,***,***,*****,*****,*****,*****,35
4,28450,99999,201705010120,200,13,***,2,OBS,*,*,...,******,29.74,******,***,***,*****,*****,*****,*****,**

**What was the median temperature during the observed period in:**
  - Helsinki Kumpula? (store the answer in a variable `kumpula_median`
  - Rovaniemi? (store the answer in a variable `rovaniemi_median`

In [ ]:

# YOUR CODE HERE
# raise NotImplementedError()

kumpula_median = kumpula['TEMP'].mean()
rovaniem

In [ ]:
#Print the answer:
print("Kumpula median: ", kumpula_median)
print("Rovaniemi median: ", rovaniemi_median)

The median temperatures above consider data from quite long period of time (May-Aug), hence the differences might not be so clear.
**Let's find out what were the mean temperatures in May and June in Kumpula and Rovaniemi:**

- Select from `rovaniemi` and `kumpula` DataFrames such rows where values of the ``YR--MODAHRMN`` column are from May 2017
and assign them into variables `rovaniemi_may` and `kumpula_may` (see hints for help)
- Repeat the procedure for the month of June and assign those values into variables `rovaniemi_june` and `kumpula_june`

In [ ]:
#Part 2
#Take subset of the Kumpula and Rovaniemi data with the 5th and 6th month

# YOUR CODE HERE
raise NotImplementedError()

**Print the mean, min and max temperatures for both places in May and June** using the new subset dataframes (`rovaniemi_may`,`kumpula_may`,`rovaniemi_june` and `kumpula_june`).

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In the spirit of [knowledge discovery](http://researcher.ibm.com/researcher/view_group.php?id=144), let's briefly interpret the results of this data analysis. Justify your answers to the following questions based on the data analysis results from this exercise (edit this markdown cell to add your answers):

- Does there seem to be large difference in temperatures between the months?
- Is Rovaniemi much colder place than Kumpula?

Finally:
- Check that you have commented your code
- Check that you have used the suggested names for variables in this exercise (important for grading!)
- Commit and push your changes to github

YOUR ANSWER HERE

If you want more challenge, you can continue to the OPTIONAL [Problem 4: Data aggregation](Exercise-5-problem4.ipynb)